

.shadow-box{
    box-shadow: 0px 0px 10px #cfcfcf;
}
.clip-path{
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 100%, 0% 100%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 100%, 0% 100%, 0% 25%);
}
.img-gallery:hover .gallery{
    transform: scale(1);
}
.img-gallery{
    transition: 04s;
}
.gallery{
    background-color: rgba(19, 107, 107, 0.692);
    transition: 0.4s;
}
.ox-hidden{
    overflow-x: hidden;
}